@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  top: 0;
  height: 60px;
  display: flex;
  padding: 0 4rem;
  width: 100%;
  margin: 0 auto;
}

.masterContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.ulNav {
  font-family: "Questrial", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: auto; 
  justify-content: space-around;
  width: 60%;
}

.ulNav li a{
  color: #1c231e;
}

.ulNav li{
  transition: 300ms;
}

.ulNav li:hover{
  transition: 300ms;
  transform: scale(1.2);
}

.img img {
  width: 100px;
}


.socialMidea{
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.socialMidea img {
  padding: 0 3px;
  width: 35px;
}


.socialMidea li{
  transition: 300ms;
}

.socialMidea li:hover{
  transition: 300ms;
  transform: scale(1.2);
}

/* Media Query para telas com 34 polegadas ou mais (2560px de largura) */
@media (min-width: 1920px) {
  html{
      font-size: 23px;
  }
}
